
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');



.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*sheared style */
.span-color{
  color:#E95A08;
}
.text-color{
  color:#817f7f;
}

.text-size{
  font-size: 1rem;
}
/* nav style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  
}



.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;

}
/*banner style */

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;

}
.banner-title{
  font-size: 3.5rem;
font-weight: bold;
}



/*our plant section*/


    .our-plants {
      max-width: 1100px;
      margin: 0 auto;
      padding-top: 80px;
    }

    .plant-title {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 10px;
    }

    .plant-text {
      text-align: center;
      margin-bottom: 40px;
      color: #979595;
    }

    .plant-card {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 5px;
      padding: 10px;
    }

    .card {
      background-color: #fff;
      text-align: center;
      padding: 10px;
    
    }

    .card-img {
      width: 100%;
      max-width: 180px;
      height: auto;
      margin: 0 auto;
      display: block;
      
    }

    .plant-heading {
      font-size: 1.1rem;
      margin: 8px 0 4px;
    }

    .plant-price {
      
      font-weight: bold;
      margin: 4px 0 8px;
    }

    .plant-btn {
      padding: 8px;
      width: 150px;
      background-color: #e95a08;
      color: white;
      border: none;
      
      
    }

    /*flower-plants*/
    .flower-plants{
      margin-top: 100px;
      margin-bottom: 100px;
      display: flex;
      gap: 20px;
      justify-content: center;
      
    }

    .image-container {
  position: relative;
  display: inline-block;
}

.main-image {
  width: 300px;
  height: auto;
  margin-top: 5px;
}

.badge-image {
  position: absolute;
  top: -55px;       
  left: 212px;      
  width: 150px;
  z-index: 10;    
}

.lover-heading{

  margin-left: 20px;

}

/*latest deals*/
.latest-deals{
  margin-top: 200px;
  margin-bottom: 200px;
  
}
.deals-heading,.deals-text{
  text-align: center;
  
}
.left-div{
  height: 300px;
}
.right-div{
  height: 300px;
  display: block;
  text-align: center;
  justify-content:center;
  
}
.first-one{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/deal-bloom.png');
  background-repeat: no-repeat;
  width: 280px;
  height: 150px;
  border-radius: 10px;

}

.second-one{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/deal-ana.png');
  background-repeat: no-repeat;
  width: 280px;
  height: 150px;
  border-radius: 10px;
}

.bloom-title,.shop-now{
  text-align: center;
  color: #fff;
  
}

.bloom-title{
  padding-top: 50px;
}

.right-div{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/deal-zabo.png');

  background-repeat: no-repeat;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  
}
.main-div{
  display: flex;
  gap: 50px;
justify-content: center;

}
.right-div{
margin-top: 20px;
}

/*colorful-bunch*/


.banch-content{
  width: 100%;
  /* max-width: 1440px;  */
  margin-top: 100px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 150px;
  padding-top: 50px;
  height: auto;
  background: url('../images/news-letter-bg.png');
  color: white;
  text-align: center;
  background-size: cover; 
}

.colorful-bunch h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.subscribe-box input {
  padding: 12px;
  flex: 1;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.subscribe-box button {
  padding: 12px 24px;
  background-color: #E95A08;
  color: white;
  border: none;
  border-radius: 5px;
  
}
/*footet*/
.footer {
  width: 100%;
  background: #f7f2f2;
  padding: 50px 20px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-links {
  display: flex;
  gap: 40px;
  flex: 2;
  justify-content: space-evenly;
}

.footer-links p {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
}
    
 /* media query */

  @media screen and (max-width: 576px) {
  .nav-links li:not(:last-child) { 
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    

  }

.banner {
    flex-direction: column-reverse;
    padding: 0 10px;
    overflow-x: hidden;
  }

  .banner-img img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .banner-title {
    font-size: 2rem;
    word-wrap: break-word;
  }
  .banner-content, .banner-img {
    width: 100%;
    padding: 5px;
  }

  .our-plants{
    overflow: hidden;
  }
  .plant-card {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 5px;

    }
    .plant-text{
      text-align: center;
      display: block;
      margin: 0 auto;
    }
    .plant-img{
       max-width: 100%;
    height: auto;
    display: block;
    }

    .flower-plants{
      flex-direction: column;
    }
    .badge-image{
      display: none;
    }
    .main-image{
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    .main-div{
      flex-direction: column;

    }
    .first-one,.second-one,.right-div{
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;

    }
    .right-div{
       
      margin-top: 5px;
    }

    .banch-content{
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;

    }
    .footer{
      flex-direction: column;
      margin: 0 auto;
    }
    .footer-content,.footer-links{
      flex-direction: column;
      margin: 0 auto;
      width:100%;
      display: block;
      
      
    }
    }





